---
Language: Cpp
AlignEscapedNewlines: Left
BreakBeforeInheritanceComma: true
BreakConstructorInitializers: BeforeComma
IndentPPDirectives: AfterHash
BreakBeforeBraces: Custom
BraceWrapping:
  AfterControlStatement: Always
  AfterFunction: true
  BeforeElse: true
NamespaceIndentation: None
QualifierAlignment: Right
AllowShortEnumsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: true
IndentWidth: 2
TabWidth: 2
PointerAlignment: Left
BinPackArguments: false
BinPackParameters: false
AlignAfterOpenBracket: BlockIndent
AlignConsecutiveMacros: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: false
AlignOperands: true
PenaltyBreakAssignment: 10000
AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine: false
ColumnLimit: 0
KeepEmptyLinesAtTheStartOfBlocks: false
SortIncludes: false
SpaceAfterCStyleCast: false
AllowAllParametersOfDeclarationOnNextLine: false
ReflowComments: false
AlignTrailingComments: Leave
