---
Language: Cpp
AlignEscapedNewlines: Left
BreakBeforeInheritanceComma: true
BreakConstructorInitializers: BeforeComma
IndentPPDirectives: AfterHash
BreakBeforeBraces: Custom
BraceWrapping:
    AfterFunction: true
NamespaceIndentation: None
QualifierAlignment: Right
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: true
IndentWidth: 2
PointerAlignment: Left
TabWidth: 2
BinPackArguments: false
BinPackParameters: false
AlignAfterOpenBracket: BlockIndent
AlignConsecutiveMacros: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: false
AlignOperands: true
AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine: false
ColumnLimit: 80
KeepEmptyLinesAtTheStartOfBlocks: false
SortIncludes: false
SpaceAfterCStyleCast: false
AllowAllParametersOfDeclarationOnNextLine: false
ReflowComments: false
AlignTrailingComments: Leave
